.navbar {
  width: 100%;
  display: flex;
  justify-content: center;  /* CENTRA el título en la barra */
  align-items: center;
  position: relative;        /* permite colocar iconos a la derecha */
  padding: 10px 0;
      margin-left: 17rem;
}

/* TITULO */
.navbar-title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 5rem;
  margin-left: -64rem;
 
  color:black ;
}

/* CONTENEDOR DE ICONOS */
.iconos {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 12px;
  margin-left: 10rem;
}

/* ICONOS */
.iconos img {
  width: 28px;
  height: 28px;
  object-fit: contain;
  cursor: pointer;
}