*{
    margin: 0%;
    padding: 0%;
}
.navbar {
  background-color: #222;
  color: white;
  padding: 15px 0;
  text-align: center;
}

.navbar-title {
  font-size: 24px;
  margin: 0;
}


.tarjetas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}

.tarjeta {
  width: 200px;
  height: 180px;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.tarjeta:hover {
  transform: scale(1.05);
}

.icono {
  font-size: 40px;
  margin-bottom: 8px;
}

.titulo {
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
}

.boton {
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s;
}

.boton:hover {
  background-color: white;
}