*{
  margin: 0%;
  padding: 0%;

  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}

body{
  background-color: rgb(11,11,88);
}
h1,h2,h3,h4,h5,h6{
  color: white;
  font-size: 40px;

}

p{
  color: rgb(196,196,16);
}

.containerCards{
  display: grid;
  width: 100%;
  max-width: 1500px;
  margin: auto;
  gap: 4rem;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
}