.tienda-container {
width: 100%;
padding: 40px 20px;
display: flex;
flex-direction: column;
align-items: center;
gap: 40px;
}


.titulo-destacados {
background-color: #a8d5c2;
padding: 10px 40px;
border-radius: 25px;
font-size: 1.4rem;
font-weight: bold;
text-align: center;
color: #000;
}


.banner-tienda {
width: 100%;
max-width: 1100px;
background-color: #cfe3f5; /* azul claro */
padding: 20px;
border-radius: 12px;
display: flex;
gap: 20px;
align-items: center;
}


.banner-img {
width: 21%;
border-radius: 10px;
}


.banner-texto {
width: 55%;
font-size: 1rem;
line-height: 1.5;
color: #333;
}


.productos-grid {
width: 100%;
max-width: 1100px;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
gap: 30px;
cursor: pointer;
}

.producto-card-1{
    background: #fff;
border-radius: 12px;
padding: 15px;
text-align: center;
box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
transition: 0.3s;
}

.imagen{
     margin-top: 3rem;
}

.producto-card {
background: #fff;
border-radius: 12px;
padding: 15px;
text-align: center;
box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
transition: 0.3s;
}


.producto-card img {
    width: 79%;
border-radius: 10px;
}
 .tablet{
    margin-top: 5rem;
 }

.producto-card:hover {
transform: translateY(-5px);
box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}


.producto-nombre {
font-size: 1rem;
margin-top: 10px;
color: #222;
}


.producto-precio {
font-weight: bold;
color: #000;
margin-top: 5px;
}
