.product-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.18);
}

.product-card img {
  transition: transform 0.3s ease;
}

.product-card:hover img {
  transform: scale(1.08);
}

/* --- AJUSTES DEL FONDO DE LAS TARJETAS --- */
.product-card {
  width: 100%;
  height: 500px;                 /* <--- AJUSTADO PARA QUE TODAS QUEDEN IGUALES */
  background: #fff;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;   /* <--- LOS ELEMENTOS BAJAN DE FORMA UNIFORME */
  align-items: center;
  padding: 20px;
}

/* --- AJUSTES DE IMÁGENES --- */
.product-card img {
  width: 100%;
  max-height: 260px;            /* MISMO ALTO PARA TODAS LAS IMÁGENES */
  object-fit: contain;
  margin-bottom: 15px;          /* Separación pareja respecto al texto */
}