.title{
    font-size: 1,5rem;
    color: white;
    left: 20rem;
    margin-left: 8rem;
}
.caja{
    background-color: rgb(81, 85, 85);
    border-radius: 2rem;
    width: 21rem;
    height: 14rem;
     margin-left: 10rem;
}
.caja img{
    margin-top: 1rem;
    width: 5rem;
    border-radius: 1rem;
    margin-left: 1rem;
}
